{% extends "_includes/default.njk" %}

{% block content %}

  <div class="text-center">
    <img src="img/andrea_sorrentino.jpeg" alt="profile picture" class="mt-16 mx-auto rounded-full" style="max-width: 14rem;">
    <h1 class="text-emerald-600 text-6xl tracking-wide mt-8">Andrea Sorrentino</h1>
    <p class="mt-8">💻 Currently working as Data Engineer for TIM S.p.A.</p>
    <p class="mt-4">🚗 Previously intern in the Data Logging Analytics team for the <a href="https://www.daimler.com/innovation/case/autonomous/bosch-cooperation.html" target="_blank">Athena Project</a> (Autonomous Driving Car) led by Robert Bosch LLC & Mercedes Benz R&D North America, Sunnyvale, CA.</p>
    <p class="mt-4">👨‍🎓 Former M.Sc. Computer Science student at University of Naples Federico II with a thesis in Machine Learning Interpretability, by the title: <a href="https://github.com/sorrentix/sorrentix/blob/main/Tesi-Andrea-Sorrentino-.pdf" target="_blank">“Explaining machine learning systems responses: a black-box approach to classification problems”.</a></p>
    <p class="mt-4">📫 You can get in touch with me on <a href="https://www.linkedin.com/in/andrea-sorrentino-85663466/" target="_blank">linkedin</a>.</p>
    <p class="mt-4">⚡ I also like to experiment with creative coding on <a href="http://instagram.com/branch_42/" target="_blank">instagram</a> using OpenFrameworks.</p>
  </div>
{% endblock %}